@font-face {
  font-family: 'Indie Flower';
  src:
    url('/IndieFlower.woff2') format('woff2'),
    url('/IndieFlower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Permanent Marker';
  src:
    url('/PermanentMarker-Regular.woff2') format('woff2'),
    url('/PermanentMarker-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import 'tailwindcss';

@theme {
  --font-marker: 'Permanent Marker', cursive;
  --font-sans: 'Indie Flower', cursive;
  --color-bone: hsl(47, 21%, 83%);
  --color-periwinkle: #cbcfdd;
}

@layer base {
  h1 {
    @apply font-marker text-3xl;
  }
  h2 {
    @apply font-marker text-2xl font-semibold text-gray-900 sm:text-4xl;
    scroll-margin-top: 86px;
  }
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-justify text-xl sm:text-2xl;
  }
  ul {
    @apply bg-[hsl(226.7,20.9%,98%)] px-4 py-2 text-left text-xl;
  }
  li {
    @apply list-inside list-disc;
  }
}

@layer components {
  .navbutton {
    @apply font-marker hover:border-periwinkle mx-1.5 border-b-4 border-transparent text-lg uppercase hover:text-gray-800 sm:mx-6 dark:hover:text-gray-200;
  }
  .btn {
    @apply m-[1px] cursor-pointer rounded border border-gray-400 bg-white px-4 py-2 text-xl font-semibold text-gray-800 shadow transition duration-300 hover:m-0 hover:border-2 hover:bg-gray-100;
  }
  .mainimage {
    background-color: cyan;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
      url('/tegan-mierle-fDostElVhN8-unsplash.jpg');
    background-position: center;
    color: white;
    height: 400px;
    width: 100vw;
    overflow-x: hidden;
  }
}
